@import 'colors';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    font-size: 1.6rem;
}


.main-color{
    color: $main-color;
}

.bg-shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: -5;
}

nav{
    .navbar-brand{
        font-weight: bold;
        font-size: 26px;
        letter-spacing: 1px;
    }
}

header{


    .carousel-img-one{
        background-image: url('../IMG/main-carousel-1.jpg');
    }

    .carousel-img-two{
        background-image: url('../IMG/main-carousel-2.jpg');
    }

    .carousel-img-three{
        background-image: url('../IMG/main-carousel-3.jpg');
    }
    .carousel-item{
        position: relative;
        background-size: cover;
        background-position: center;
        height: 400px;
        z-index: 5;
    }
}


.home-goals {

    .goals-item
    {
        i{
            font-size: 45px
        }
    }
        
}

.home-motto{
    position: relative;
    height: 350px;
    background-image: url('../IMG/sunset-g89ec8f072_640.jpg');
    background-position: center;
    background-size: cover;
    z-index: 5;
}


@media (min-width: 992px){
    header{
        
        .carousel-img-one{
            background-image: url('../IMG/main-carousel-1-hq.jpg');
        }

        .carousel-img-two{
            background-image: url('../IMG/main-carousel-2-hq.jpg');
        }

        .carousel-img-three{
            background-image: url('../IMG/main-carousel-3-hq.jpg');
        }
    }

    .home-motto{
        background-image: url('../IMG/sunset-gaa7312aa3_1920.jpg');
    }
}

@media (min-width: 1400px){
    header{
        
        .carousel-item{
            height: 600px;
        }
    }
}